html{
    background-color: black;
}
body{
    width: 800px;
    height: 550px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(45deg, #f97e7e, #fe4d87);
}

h1 {
    margin-top: 200px;
    text-align: center;
}

div#options {
    display: grid;
    margin: 100px 100px 0px;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
}

div#options button {
    padding: 20px;
}

h2 {
    text-align: right;
    margin-right: 20px;
}

h1{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-left: 20px;
}

h2{
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: -20px;
}

button{
    padding-right: 20px;
    margin-right: 20px;
    background-color: black;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    width: 120p;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    background-color: #d9d9d9;
    color: black;
    cursor: pointer;
}

img{
    width: 350px;
    margin-bottom: 0;
    margin-top: -40px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
    text-decoration: underline;
}

