html{
    background-color: black;
}

body{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px 50px;
    width: 1200px;
    height: 650px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    justify-content: center;
    background-image: linear-gradient(45deg, #f97e7e, #fe4d87);
}




h2 {
    text-align: right;
    margin-right: 20px;
}

h1{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

h2{
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: -20px;
}

button{
    padding-right: 20px;
    margin-right: 20px;
    background-color: black;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    width: 120p;
    font-size: 16px;
    border-radius: 5px;
    text-align: left;
    border: solid 1px lightgrey;
}

button:hover{
    background-color: #d9d9d9;
    color: black;
}

img{
    width: 350px;
    margin-bottom: 0;
    margin-top: -40px;
}

a{
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

a:hover{
    color: black;
    text-decoration: underline;
}

table{
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-bottom: 20px;
}

th{
    padding: 15px 25px;
    font-size: 20px;
    background-color: black;
    color: white;
}

img{
    width: 35px; 
}