html{
    background-color: black;
}
body{
    width: 800px;
    height: 650px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(45deg, #f97e7e, #fe4d87);
}

h1{
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: -30px;
}

p{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: -20px;
}

.play-btn{
    padding: 20px 25px;
    margin-right: 20px;
    background-color: black;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    width: 20%;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover{
    background-color: #d9d9d9;
    color: black;
    cursor: pointer;
}

img{
    width: 350px;
    margin-bottom: 0;
    margin-top: -40px;
}

.social-icons{
  margin-top: 40px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-icons a:hover img {
  transform: scale(1.2);
  filter: brightness(1.4);
}

footer {
    margin-top: 40px;
    color: white;
    font-size: 14px;
}